.play--container{
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(circle, #051937, #021b36, #001c36, #001e34, #001f33);
    position: fixed;
    font-family: 'Ubuntu', sans-serif; 
}

.progress--container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    
    margin-left: 400px;
}

.score--container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 10px;
    color: whitesmoke
}

.timer{
    margin-top: 8px; 
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
}

.card--component{
    display: flex;
    flex-direction: column;
    width: 10vw;
    background-color: rgb(241, 92, 92);
}

.sphere{
    display: block;
  background: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0;
  background-color: yellow;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.sphere:hover{
    cursor: pointer;
}

#Middle-Start--Menu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}