<div class="play--container">
  <div class="progress--container">
    <div class="score--container">
      <h2>Score: {{ clickedTimes }}</h2>
      <div id="Middle-Start--Menu" [hidden]="toggleDisplay">
        <button mat-raised-button color="warn" (click)="startTimer()">
          Start
        </button>
      </div>
      <h2 id="Accuracy">Accuracy: {{ accuracy | percent }}</h2>
    </div>

    <mat-progress-bar
      mode="determinate"
      value="{{ clickedTimes }}"
    ></mat-progress-bar>

    <div class="timer">
      <h2>Time Left: {{ timeLeft }}</h2>
    </div>
  </div>

  <div class="Play--Area" [hidden]="!toggleDisplay">
    <div
      class="sphere"
      (click)="teleport()"
      [ngStyle]="itemTp"
      appClickedOutside
      (clickedOutside)="missClicks()"
    ></div>
  </div>
</div>
